<h1 style='margin-top:100px'>Pizzeria name: <%= @pizzeria.name %></h1>
<p>Address: <%= @pizzeria.address %></p>
<p><%= link_to "What'd you eat?", new_pizzeria_pizza_path(@pizzeria)  %></p>

<h1 style='margin-top:100px'>Pizza Menu:</h1>
<ul>
  <% @pizzeria.pizzas.each do |pizza| %>
    <li><strong><%= pizza.name %></strong> : <%= pizza.description %></li><br>
  <% end %>
</ul>
